extend ../layouts/common.pug
block content
    ul
        li= "Country: "+country.Country
        li= "NewConfirmed: "+country.NewConfirmed
        li= "NewDeaths: "+country.NewDeaths
        li= "NewRecovered: "+country.NewRecovered
        li= "TotalConfirmed: "+country.TotalConfirmed
        li= "TotalDeaths: "+country.TotalDeaths
        li= "TotalRecovered: "+country.TotalRecovered